<div class="container">
    <div class="join-page center">
    <div class="join-main-title">
      <h2 class="bold">{{Strings.intro0}}</h2>
    </div>
    <div class="join-subtitle">
      <h2>Let’s play a simple four card game of War.</h2>
    </div>
    <div class="cards-box center">
      <div class="card face-down animate-hidden" ng-repeat="n in [0, 1, 2, 3] track by $index"
           ng-class="{'appear': appearClass}"></div>
    </div>
    <a class="green-button next ng-hide-animate" ui-sref="demo.hashing" ng-show="!animating">Next</a>
  </div>
</div>
