<div class="container">
    <div class="setup-a-page">
        <p class="special-margin">
            Before we get going, we need to show you a bit of fancy math. Its key to making provably fair card games possible over a peer-to-peer network.
        </p>
        <p class="special-margin">
            Our CryptoLock technology relies on something called a “hash.” A hash is a one way math function, meaning that; once a value has been processed, along with another value called the “salt”, the resulting value (referred to as a hash) is impossible to reverse engineer without knowing the salt.
        </p>
        <p class="green-sign center try-sign">
            Try it here
        </p>
        <form id="get-hash-form">
            <div class="row sign-block regular">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center">Original value</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center">Salt</div>
            </div>
            <div class="values-blocks row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <input ng-model="first_name" ng-keyup="step1TextsChanged()" type="text" class="center regular input-black-style" placeholder="Type your first name here" />
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 big-plus center regular">+</div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <input ng-model="fav_color" ng-keyup="step1TextsChanged()" type="text" class="center regular input-black-style" placeholder="Type your favorite color here" />
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="form-button-field center">
                <button ng-click="step1CreateHash()" class="green-button ng-hide-animate" id="create-hash" ng-show="is_create_hash_shown">Create Hash</button >
            </div>
            <div class="resulting-hash-wrap ng-hide-animate" id="generated-hash" ng-show="is_generated_hash_shown">
                <div class="sign-block center regular">Resulting hash</div>
                <div class="hash-item row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <input ng-model="generated_hash" type="text" class="center regular input-black-style" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <a ui-sref="demo.explain" class="green-button">Next</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


