<div class="container">
  <div class="setup-b-page">
    <p>
      <span class="green-sign bold">What this means</span> is that anyone can verify that this hash
    </p>
    <div class="example-hash-block center regular input-black-style">
      <span class="check-overflow">{{generated_hash}}</span>
    </div>
    <p>
      is the <span class="italic">only possible result</span> when combining your favorite color (the salt) and your name (the original value) and processing them both thru a hash function.
    </p>
    <div class="example-blocks row">
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center regular input-black-style">{{first_name}}</div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center regular input-black-style">{{fav_color}}</div>
      <div class="clearfix"></div>
    </div>
    <div class="setup-button-field">
      <a ui-sref="demo.gamestart" class="green-button">Next</a>
    </div>
  </div>
</div>
