<div class="container">
  <div class="setup-c-page">
    <p>
      Now that you understand the concept of cryptographic hashes, lets get on with our game of War and see for yourself <span class="green-sign bold">how important provably fair game play can be to player confidence!</span>
    </p>
    <div class="game-conditions center">
      <p>
        These are the four cards we will use for our simple game of War. <span class="bold">You will be Player 1.</span>
      </p>
      <div class="cards-box">
        <div class="card card1"></div>
        <div class="card card2"></div>
        <div class="card card3"></div>
        <div class="card card4"></div>
      </div>
    </div>
    <div class="setup-button-field">
      <a ui-sref="demo.step1" class="green-button">Create Game</a>
    </div>
  </div>
</div>
