<div class="container">
  <div class="steps-page">
    <div class="step1-wrap">
      <h3>Step 1</h3>
      <p>The Shoe recieves a shuffeled deck and knows original card values.</p>
      <div class="cards-box">
        <div class="card card1"></div>
        <div class="card card2"></div>
        <div class="card card3"></div>
        <div class="card card4"></div>
      </div>
    </div>
    <div class="step2-wrap">
      <h3>Step 2</h3>
      <div class="step2-container full-width">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-step-text">
            <p>The Shoe shuffles the deck, adds a salt to each original card value and runs each through a hash function. The result being a deck of four cards conatining only hash values. At this point it is impossible know the original card values.</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="card-deck-wrap">
              <div class="shuffle-deck-block">
                  <div class="shuffle-card" ng-repeat="n in [0, 1, 2, 3] track by $index"
                       ng-class="{'animation{{$index}}': animationClass,'step{{$index}}': setAsStepClass}">
                  </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 button-to-right next ng-hide-animate" ng-show="!animating">
            <a ui-sref="demo.step3" class="green-button">Next</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
