<div class="container">
  <div class="step3-page">
    <div class="step3-wrap">
      <h3>Step 4 - {{cardordertitles[currentHashingCard]}} Card</h3>
      <p>Player 1 salts and hashes each card and stores these values in a lookup table.</p>
    </div>
    <div class="shuffle-deck-field-wrap">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <div class="shuffle-deck-block">
            <div class="cards-wrap">
              <div class="shuffle-card" ng-class="{'step-reverse0': setReverseStepClass, 'scaling0': setScalingClass}"></div>
              <div class="shuffle-card" ng-class="{'step-reverse1': setReverseStepClass, 'scaling1': setScalingClass}"></div>
              <div class="shuffle-card" ng-class="{'step-reverse2': setReverseStepClass, 'scaling2': setScalingClass}"></div>
              <div class="shuffle-card" ng-class="{'step-reverse3': setReverseStepClass}"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
          <div class="hash-info-field received-hash-field input-black-style regular center">
            <span>Recieved hash for {{cardordertitles[currentHashingCard]}} card</span>
            <span id="received-hash-val">{{deckplayer1[currentHashingCard]}}</span>
          </div>
          <form id="top-card-hash-form">
            <div class="form-fields-wrap">
              <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                  <input ng-model="player1_salt" ng-keyup="player1Hash()" type="text"
                         placeholder="Now enter salt for card {{currentHashingCard+1}}. It can be anything."
                         class="center regular italic input-black-style green-sign"/>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <button ng-click="player1HashNext()" class="green-button hash-submit-button">Submit</button>
                </div>
              </div>
            </div>
          </form>
          <div class="hash-info-field new-hash-field input-black-style regular center">
            <span>Your new hash for first card</span>
            <span id="new-hash-val">{{hashesplayer1[currentHashingCard]}}</span>
          </div>
        </div>
      </div>
      <div ng-hide="step3_hidenextbtn" class="setup-button-field next ng-hide-animate">
        <a ui-sref="demo.step5" class="green-button">Next</a>
      </div>
    </div>
  </div>
</div>
