<div class="container">
  <div class="step3-page">
    <div class="step3-wrap">
      <h3>Step 3</h3>
      <p>The Shoe passes the shuffeled deck to Player 1.
        Player 1 shuffles the deck, salts and hashes each card.</p>
    </div>
    <div class="shuffle-deck-block">
      <div class="cards-wrap">
        <div class="ratio"></div>
        <div class="shuffle-card" ng-repeat="n in [0, 1, 2, 3] track by $index"
             ng-class="{'animation{{$index}}': animationClass,'step{{$index}}': setAsStepClass}"></div>
      </div>
      <div class="shuffle-button-wrap">
        <span ng-click="shuffle()" class="green-button">Shuffle Deck</span>
      </div>
      <div class="next ng-hide-animate" ng-show="!animating && setAsStepClass">
        <a ui-sref="demo.step4" class="green-button">Next</a>
      </div>
    </div>
  </div>
</div>
