<div class="container">
    <div class="step3-page">
        <div class="step3-wrap">
            <h3>Step 5 - Player 2 does all the same</h3>
            <p>Player 1 passes the shuffled salted and hashed deck to Player 2.</p>
            <p>Player 2 shuffels deck again, salts and hashes each card and stores the values in a lookup table exactly as Player 1 did.</p>
        </div>
        <div class="shuffle-deck-field-wrap">
            <div class="shuffle-deck-block">
              <div class="cards-wrap">
                <div class="ratio"></div>
                <div class="shuffle-card" ng-repeat="n in [0, 1, 2, 3] track by $index"
                     ng-class="{'animation{{$index}}': animationClass,'step{{$index}}': setAsStepClass}"></div>
              </div>
              <div class="shuffle-button-wrap">
                <span ng-click="shuffle()" class="green-button">Shuffle, Salt and Hash the Deck</span>
              </div>
              <div class="next ng-hide-animate" ng-show="!animating && setAsStepClass">
                <a ui-sref="demo.ready" class="green-button">Next</a>
              </div>
            </div>
        </div>
    </div>
</div>
