<div class="container">
    <div class="ready-page">
        <p>Now we have a cryptographically secure deck of cards that has been shuffeled salted and hashed by the shoe, and by both players.</p>
        <div class="ready-to-play-wrap">
            <div class="ready-title center regular">Ready to Play?</div>
            <div class="ready-card-deck">
                <img src="img/card-deck.png" alt="" />
            </div>
        </div>
        <div class="ready-button-field">
            <a ui-sref="demo.dealing" class="green-button">Next</a>
        </div>
    </div>
</div>
