<div class="container">
    <div class="process-page">
        <p>{{Strings.cardsDealt}}</p>
        <div class="player-container">
            <div class="player-title regular">Player 1 - Card Reveal Process</div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="two-cards-deck-wrap different-style">
                        <img src="img/two-cards-deck-white.png" alt="" />
                        <div class="player-hash-value">showhashvalueofcardf9637f2f2a487286fdd11e157df389cab71be08d3847daef578c323c174aecff </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="process-left-block">
                        <div class="hash-value-sign different-sign">
                            <span class="sign-number">4</span> <span class="two-layers-sign">The Shoe finds that hash value in its lookup table and uses the salt used to create it and is able to find the original card value. The shoe then sends the original card value to Player 1.</span>
                        </div>
                        <div class="center input-black-style small different-input">
                            <span class="check-overflow">f9637f2f2a487286fdd11e157df389cab71be08d3847daef578c323c174aecff</span>
                        </div>
                    </div>
                    <div class="process-right-block">
                        <img src="img/spades_two.png" alt="" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="player-container">
            <div class="player-title regular">Player 2</div>
            <div class="two-cards-deck-wrap player-2 different-style">
                <img src="img/two-cards-deck.png" alt="" />
            </div>
            <a ui-sref="demo.card1-5" class="green-button">Next</a>
        </div>
    </div>
</div>
