<div class="container">
    <div class="process-page add-bottom-space">
        <p class="green-sign regular win-sign">Player 2 wins!</p>
        <div class="player-title regular changed-margin">Player 1</div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="player-container">
                    <div class="two-cards-deck-wrap">
                        <img src="img/two-cards-deck-spades-two.png" alt="" />
                    </div>
                </div>
                <div class="player-container">
                    <div class="player-title regular">Player 2</div>
                    <div class="two-cards-deck-wrap">
                        <img src="img/two-cards-deck-diamonds-nine.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 regular win-text">
                <p class="win-result-big">Player 2 wins the first hand with a 9 of Diamonds beating Player 2’s 2 of Clubs.</p>
                <p><span class="green-sign">Congratulations!</span> You have just played the only provably fair game of cards over a peer-to-peer network. Compliments of CryptoLock by BitBoss. <span class="green-sign">No casino needed!</span></p>
                <p><span class="green-sign">BONUS!</span> To verify that all cards were dealt fairly, choose a card and use our mobile utility to scan the QR code. </p>
            </div>
        </div>
        <a ui-sref="demo.intro" class="green-button absolute-position-button">Next</a>
    </div>
</div>
