<div class="container">
    <div class="process-page">
        <p>{{Strings.cardsDealt}}</p>
        <div class="player-container">
            <div class="player-title regular">Player 1 - Card Reveal Process</div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="two-cards-deck-wrap">
                        <img src="img/two-cards-deck-white.png" alt="" />
                        <div class="player-hash-value">showhashvalueofcardf9637f2f2a487286fdd11e157df389cab71be08d3847daef578c323c174aecff </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="hash-value-sign">
                        <span class="sign-big bold">!</span>
                        <span class="two-layers-sign">
                            Based on the CryptoLock process, the 2 of Spades can be mathematically proven to have been dealt to Player 1 fairly, in other words in the correct order with the correct card value.
                            <span class="green-sign">
                                NOTE: In more complex games like Poker, A player can choose to show or hide his cards according to the rules of the game.
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-container">
            <div class="player-title regular">Player 2</div>
            <div class="two-cards-deck-wrap player-2">
                <img src="img/two-cards-deck.png" alt="" />
            </div>
            <a ui-sref="demo.card2-1" class="green-button">Next</a>
        </div>
    </div>
</div>
