<div class="container">
    <div class="process-page">
        <p>{{Strings.cardsDealt}}</p>
        <div class="player-container">
            <div class="player-title regular">Player 1</div>
            <div class="two-cards-deck-wrap">
                <img src="img/two-cards-deck-spades-two.png" alt="" />
            </div>
        </div>
        <div class="player-container player-2">
            <div class="player-title regular">Player 2 - Card Reveal Process</div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="two-cards-deck-wrap">
                        <img src="img/two-cards-deck-diamonds-nine.png" alt="" />
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="hash-value-sign">
                        <span class="sign-big bold">!</span>
                        <span class="two-layers-sign">
                            Based on the CryptoLock process, the 9 of Diamonds can be mathematically proven to have been dealt to Player 2 fairly, in other words in the correct order with the correct card value.
                            <span class="green-sign">
                                NOTE: In more complex games like Poker, A player can choose to show or hide his cards according to the rules of the game.
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <a ui-sref="demo.card2-5" class="green-button">Next</a>
        </div>
    </div>
</div>
