<div class="container">
    <div class="process-page">
        <p>{{Strings.cardsDealt}}</p>
        <div class="player-container">
            <div class="player-title regular">Player 1 - Card Reveal Process</div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="two-cards-deck-wrap">
                        <img src="img/two-cards-deck-white.png" alt="" />
                        <div class="player-hash-value">showhashvalueofcardf9637f2f2a487286fdd11e157df389cab71be08d3847daef578c323c174aecff </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="hash-value-sign">
                        <span class="sign-number">2</span> <span class="two-layers-sign">Player 2 finds hash value in his lookup table and broadcasts<br>it and the salt used to create it to Player 1.</span>
                    </div>
                    <div class="center input-black-style small">
                        <span class="check-overflow">f9637f2f2a487286fdd11e157df389cab71be08d3847daef578c323c174aecff</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-container">
            <div class="player-title regular">Player 2</div>
            <div class="two-cards-deck-wrap player-2">
                <img src="img/two-cards-deck.png" alt="" />
            </div>
            <a ui-sref="demo.card1-3" class="green-button">Next</a>
        </div>
    </div>
</div>
