<div class="container">
    <div class="process-page">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <p>{{Strings.cardsDealt}}</p>
                <div class="player-title regular">Player 1</div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="process-deck-wrap">
                  <div class="shuffle-deck-block">
                    <div class="cards-wrap">
                      <div class="shuffle-card" ng-repeat="n in [0, 1, 2, 3] track by $index"
                           ng-class="{'dealing{{$index}}': dealingClass,'step{{$index}}': setAsStepClass}"></div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="player-title player-2 regular">Player 2</div>
        <div class="process-button-field next ng-hide-animate" ng-show="!animating">
          <a ui-sref="demo.dealt" class="green-button">Next</a>
        </div>
    </div>
</div>
