<div class="container">
    <div class="process-page">
        <p>{{Strings.cardsDealt}}</p>
        <div class="player-container">
            <div class="player-title regular">Player 1</div>
            <div class="two-cards-deck-wrap">
                <img src="img/two-cards-deck.png" alt="" />
            </div>
        </div>
        <div class="player-container">
            <div class="player-title regular">Player 2</div>
            <div class="two-cards-deck-wrap player-2">
                <img src="img/two-cards-deck.png" alt="" />
            </div>
            <a ui-sref="demo.card1-1" class="green-button">Next</a>
        </div>
    </div>
</div>
