$transition-time: 0.2s;
$card-appear-time: 0.8s;

.next {
  &.ng-hide {
    visibility: hidden;
    opacity: 0;
  }
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.8s linear;
  transition-delay: 0.8s;
}
.cards-box {
  .card {
    &.animate-hidden {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity $card-appear-time linear;
    }
    &.appear {
      visibility: visible;
      opacity: 1;
      &:nth-child(1) {
        transition-delay: $card-appear-time;
      }
      &:nth-child(2) {
        transition-delay: $card-appear-time * 2;
      }
      &:nth-child(3) {
        transition-delay: $card-appear-time * 3;
      }
      &:nth-child(4) {
        transition-delay: $card-appear-time * 4;
      }
    }
  }
}
#create-hash {
  &.ng-hide {
    visibility: hidden;
    opacity: 0;
  }
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.8s linear;
  transition-delay: 0.8s;
}
#generated-hash {
  &.ng-hide {
    visibility: hidden;
    opacity: 0;
  }
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.8s linear;
  transition-delay: 0.8s;
}

.shuffle-deck-block {
  vertical-align: middle;
  position: relative;

  .cards-wrap {
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }

  .shuffle-button-wrap {
    display: inline-block;
    width: 60%;
  }

  .shuffle-card {
    position: absolute;
    top: 0;
    bottom: 0;
    background: url('/img/card-face-down.jpg') no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    transition: all 0.2s cubic-bezier(0.68, .55, .65, .55);
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    right: 0;

    &.animation0 {
      right: -120px;
      z-index: 3;
      top: 5px;
    }
    &.animation1 {
      right: 120px;
      z-index: 1;
      top: 10px;
    }
    &.animation2 {
      right: -12px;
      z-index: 4;
    }
    &.animation3 {
      right: 80px;
      z-index: 2;
      top: 7px;
    }
    &.step0 {
      right: -40px;
      top: 36px;
    }
    &.step1 {
      right: -30px;
      top: 24px;
    }
    &.step2 {
      right: -15px;
      top: 12px;
    }
    &.step3 {
      right: 0px;
      top: 0px;
    }
    &.step-reverse0 {
      right: -15px;
      top: 36px;
      z-index: 0;
    }
    &.step-reverse1 {
      right: -30px;
      top: 24px;
      z-index: 1;
    }
    &.step-reverse2 {
      right: -45px;
      top: 12px;
      z-index: 2;
    }
    &.step-reverse3 {
      right: -60px;
      top: 0px;
      z-index: 3;
    }
    &.dealing0 {
      right: 775px;
      top: 477px;
      transition-delay: $transition-time * 3;
    }
    &.dealing1 {
      right: 775px;
      top: 152px;
      transition-delay: $transition-time * 2;
    }
    &.dealing2 {
      right: 760px;
      top: 465px;
      transition-delay: $transition-time;
    }
    &.dealing3 {
      right: 760px;
      top: 140px;
    }
    &.scaling0 {
      transform: translate(-41px, 138px) scale(.6);
      transition-delay: $transition-time;
    }
    &.scaling1 {
      transform: translate(-48px, 144px) scale(.6);
      transition-delay: $transition-time;
    }
    &.scaling2 {
      transform: translate(-55px, 150px) scale(.6);
      transition-delay: $transition-time;
    }
    &.scaling3 {
      transform: translate(-62px, 156px) scale(.6);
      transition-delay: $transition-time;
    }
    &.to-top {
      transform: translate(0px, -45px);
      z-index: 0;
    }
  }
}
