@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
}

@mixin card-width($width) {
  @include aspect-ratio(2.25, 3.5);
  font-size: $width * 12.5 / 200;
  width: 16em;
}


@font-face {
  font-family: 'Suit-Regular';
  src: url("../fonts/suit-regular.eot");
  src: url("../fonts/suit-regular.eot?#iefix") format('embedded-opentype'), url("../fonts/suit-regular.woff") format('woff'), url("../fonts/suit-regular.ttf") format('truetype'), url("../fonts/suit-regular.svg#suit-regular") format('svg');
  font-weight: normal;
  font-style: normal;
}

.game-table {
  .hand {
    margin: 1em;
    .playing-card-wrapper {
      display: inline-block;
      margin: .5em;
      height: 16em;
    }
    .playing-card {
      @include card-width(200px);
      display: inline-block;
      border-radius: .5em;
      .face, .back {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: .5em;
        overflow: hidden;
        transition: transform  0.6s;
        backface-visiblity: hidden;
        transform-style: preserve-3d;
      }
      .face {
        z-index: 2;
        transform: rotateY(0deg);
        background-color: white;
      }
      .back {
        z-index: 1;
        transform: rotateY(-180deg);
        background-color: white;
        &:after {
          display: block;
          content: "";
          height: 100%;
          width: 100%;
          border-radius: .45em;
          background-size: cover;
          background-image: url(../img/card-back.png);
        }
      }
      &.flipped {
        .face { transform: rotateY(180deg); }
        .back { z-index: 3; transform: rotateY(0deg);}
      }
      &.hold {
        .hold-indicator {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          text-align: center;
          background-color: #ccc;
          color: black;
          padding: .5em;
          font-weight: 600;
          font-size: 1.5em;
          &:after { content: "Hold" }
        }
      }
      .valid-indicator:after {
        content: 'X';
        color: red;
        font-weight: bold;
        font-size: 2.75em;
        padding: .25em;
        float: right;
      }
      &.valid {
        .valid-indicator {
          @include aspect-ratio(1, 1);
          position: absolute;
          top: 0; right: 0;
          width: 30%;
          background-size: cover;
          background-image: url(../img/fair-check.png);
          &:after {
            content: none;
          }
        }
      }
      .suit {
        display: none;
        position: absolute;
        font-size: 4em;
        line-height: 1em;
        height: 1em; width: 1em;
        text-align: center;
        &:after {
          font-family: Suit-Regular;
          font-size: 1.5em;
          line-height: .5em;
          text-align: center;
        }
        &.top_center { top: .5em; left: 1.5em; }
        &.top_left { top: .5em; left: .75em; }
        &.top_right { top: .5em; right: .75em; }

        &.middle_center { top: 2.65em; right: 1.5em; }
        &.middle_top { top: 1.55em; right: 1.5em; }
        &.middle_bottom { bottom: 1.55em; right: 1.5em; }

        &.middle_left { top: 2.65em; left: .75em; }
        &.middle_right { top: 2.65em; right: .75em; }

        &.middle_top_center { top: 1.25em; left: 1.5em; }
        &.middle_top_left { top: 1.90em; left: .75em; }
        &.middle_top_right { top: 1.90em; right: .75em; }

        &.middle_bottom_center { bottom: 1.25em; left: 1.5em; }
        &.middle_bottom_left { bottom: 1.90em; left: .75em; }
        &.middle_bottom_right { bottom: 1.90em; right: .75em; }

        &.bottom_center { bottom: .5em; left: 1.5em; }
        &.bottom_left { bottom: .5em; left: .75em; }
        &.bottom_right { bottom: .5em; right: .75em; }

        &.middle_bottom,
        &.middle_bottom_center, &.middle_bottom_left, &.middle_bottom_right,
        &.bottom_center, &.bottom_left, &.bottom_right { transform: rotate(180deg); }
      }
      .corner {
        position: absolute;
        font-size: 2em;
        text-align: center;
        padding: .35em;
        font-weight: 500;
        span {
          display: block;
          line-height: 1em;
          &.suit {
            position: static;
            font-size: 1em;
          }
          &.rank {
            font-size: 1em;
            margin-bottom: .1em;
          }
        }
        &.bottom {
          bottom: 0; right: 0;
          transform: rotate(180deg);
        }
      }
      &.of.spades, &.of.clubs { color: black; }
      &.of.spades { .suit:after { content: "\2660" } }
      &.of.clubs { .suit:after { content: "\2663" } }

      &.of.hearts, &.of.diamonds { color: #990000; }
      &.of.hearts { .suit:after { content: "\2665" } }
      &.of.diamonds { .suit:after { content: "\2666" } }

      &.two {
        .corner .rank:after { content: "2" }
        .suit { &.top_center, &.bottom_center { display: block; } }
      }
      &.three {
        .corner .rank:after { content: "3" }
        .suit {
          &.top_center, &.bottom_center, &.middle_center { display: block; }
        }
      }
      &.four {
        .corner .rank:after { content: "4" }
        .suit {
          &.top_left, &.top_right, &.bottom_left, &.bottom_right { display: block; }
        }
      }
      &.five {
        .corner .rank:after { content: "5" }
        .suit {
          &.top_left, &.top_right, &.bottom_left, &.bottom_right,
          &.middle_center { display: block; }
        }
      }
      &.six {
        .corner .rank:after { content: "6" }
        .suit {
          &.top_left, &.top_right, &.bottom_left, &.bottom_right,
          &.middle_left, &.middle_right { display: block; }
        }
      }
      &.seven {
        .corner .rank:after { content: "7" }
        .suit {
          &.top_left, &.top_right, &.bottom_left, &.bottom_right,
          &.middle_left, &.middle_right, &.middle_top { display: block; }
        }
      }
      &.eight {
        .corner .rank:after { content: "8" }
        .suit {
          &.top_left, &.top_right, &.bottom_left, &.bottom_right,
          &.middle_left, &.middle_right, &.middle_top, &.middle_bottom { display: block; }
        }
      }
      &.nine {
        .corner .rank:after { content: "9" }
        .suit {
          &.top_left, &.top_right, &.bottom_left, &.bottom_right,
          &.middle_top_left, &.middle_top_right, &.middle_bottom_left, &.middle_bottom_right,
          &.middle_center { display: block; }
        }
      }
      &.ten {
        .corner .rank:after { content: "10"; letter-spacing: -0.1em; }
        .suit {
          &.top_left, &.top_right, &.bottom_left, &.bottom_right,
          &.middle_top_left, &.middle_top_right, &.middle_bottom_left, &.middle_bottom_right,
          &.middle_top_center, &.middle_bottom_center { display: block; }
        }
      }
      &.jack, &.queen, &.king, &.ace {
        .suit {
          &.middle_center {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            font-weight: bold;
            &:before, &:after { position: absolute; }
            &:before {
              top: .65em;
              left: -0.10em;
              font-size: 4.25em;
            }
            &:after {
              top: 1.85em;
              left: 1.8em;
              font-size: 1.5em;
            }
          }
        }
      }
      &.jack {
        .corner .rank:after { content: "J"; }
        .suit.middle_center:before { content: "J"; }
      }
      &.queen {
        .corner .rank:after { content: "Q"; }
        .suit.middle_center:before { content: "Q"; left: -0.24em; }
      }
      &.king {
        .corner .rank:after { content: "K"; }
        .suit.middle_center:before { content: "K"; }
      }
      &.ace {
        .corner .rank:after { content: "A"; }
        .suit.middle_center:before { content: "A"; }
      }
    }
    &.small { .playing-card { @include card-width(125px); } }
    &.medium { .playing-card { @include card-width(144px); } }
    &.large { .playing-card { @include card-width(185px); } }
  }
}
