.main-app-view{
  height:100%;
  .demo-page {
    height:100%;
    width:100%;
    background-image: url(/img/black-felt.png);
    background-color: #00752f;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
  }
}