@mixin font-face($font-family, $folder, $font-name) {
  $file-path: '/fonts/' + $folder + '/' + $font-name;
  @font-face {
    font-family: $font-family;
    src: url($file-path + '.eot');
    src: url($file-path + '.eot?#iefix') format('embedded-opentype'),
    url($file-path + '.woff2') format('woff2'),
    url($file-path + '.woff') format('woff'),
    url($file-path + '.ttf') format('truetype'),
    url($file-path + '.svg#' + $font-family) format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

@include font-face('montserratlight', 'montserrat_light', 'montserrat-light-webfont');
@include font-face('montserratultra_light', 'montserrat_ultralight', 'montserrat-ultralight-webfont');
@include font-face('montserratregular', 'montserrat_regular', 'montserrat-regular-webfont');
@include font-face('montserratsemi_bold', 'montserrat_semibold', 'montserrat-semibold-webfont');


body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: url('/img/bgr.jpg') repeat;
  font-family: 'montserratlight', sans-serif;
  color: #fff;
}

a,
a:hover,
a:active,
a:focus {
  color: #fff;
  text-decoration: none;
}

h2,
h3 {
  font-weight: normal;
}

h3 {
  text-transform: uppercase;
}

button,
input {
  outline: none;
}

.center {
  text-align: center;
}

.bold {
  font-family: 'montserratsemi_bold', sans-serif;
}

.regular {
  font-family: 'montserratregular', sans-serif;
}

.italic {
  font-style: italic;
}

.clearfix {
  clear: both;
}

.green-sign {
  color: #00c72f;
}

.container {
  width: 80%;
}

header {
  padding: 16px 0 20px;
  background-color: #000;

  .header-container {
    position: relative;

    .logo-block {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 11%;
      text-align: center;

      img {
        height: 100%;
      }
    }

    .title-text {
      height: 80px;
      line-height: 65px;
      border-bottom: 1px solid #fff;
      font-size: 40px;

      .green-sign {
        font-family: 'montserratultra_light', sans-serif;
      }
    }
  }
}


