$main-color: #fff;
@mixin background-size-contain() {
  background-size: contain;
  -webkit-background-size: contain;
}

@mixin cards-image($image-name) {
  background: url('/img/' + $image-name) no-repeat center;
  @include background-size-contain();
}

.cards-box {
  .card {
    display: inline-block;
    vertical-align: top;
    width: 17%;
    margin: 0 3%;

    &.face-down {
      @include cards-image('card-face-down.jpg');
    }

    &.card1 {
      @include cards-image('clubs_four.png');
    }

    &.card2 {
      @include cards-image('hearts_ace.png');
    }

    &.card3 {
      @include cards-image('spades_two.png');
    }

    &.card4 {
      @include cards-image('diamonds_nine.png');
    }
  }
}

.green-button {
  cursor: pointer;
  display: inline-block;
  min-width: 22%;
  border: 1px solid #00c72f;
  background-color: #000;
  text-align: center;
  font-family: 'montserratregular', sans-serif;
  letter-spacing: 1px;

  &:hover {
    background-color: #00c72f;
  }
}

.step2-container {
  width: 90%;

  &.full-width {
    width: 100%;

    .row {
      position: relative;
    }
  }

  .col-lg-6 p {
    margin-bottom: 0;
  }

  .col-lg-3 .card-deck-wrap {
    margin-left: 10%;
    margin-right: 0;

    img {
      max-width: 330px;
    }
  }

  .col-lg-3.button-to-right {
    position: absolute;
    right: 0;
    bottom: 20px;
    text-align: right;

    .green-button {
      width: 90%;
      max-width: 300px;
    }
  }
}

.card-deck-wrap {
  margin-right: 17%;
  margin-left: 8%;
}

.steps-page .cards-box .card.card1 {
  margin-left: 0;
}

.card-deck-wrap img {
  width: 100%;
}

.setup-button-field {
  text-align: right;
}

.input-black-style {
  background-color: #000;
  border: 1px solid $main-color;
}

.example-hash-block {
  width: 100%;

  .check-overflow {
    display: block;
    overflow: hidden;
    margin: 0 3%;
  }
}

.col-lg-5.col-md-5.col-sm-5.col-xs-5 {
  width: 45.666667%;
}

.col-lg-2.col-md-2.col-sm-2.col-xs-2 {
  width: 8.666667%;
}

.sign-block {
  text-transform: uppercase;
}

input.input-black-style {
  width: 100%;
  padding: 0 4%;
}

input {
  color: $main-color;
}

input::-webkit-input-placeholder {
  color: $main-color;
}

input:-moz-placeholder {
  color: $main-color;
}

input::-moz-placeholder {
  color: $main-color;
}

input:-ms-input-placeholder {
  color: $main-color;
}

.hash-item {
  .green-button {
    width: 100%;
    padding: 0;
  }

  .col-lg-9.col-md-9.col-sm-9.col-xs-9 {
    padding-right: 0;
  }
}

.step3-page .shuffle-deck-block {
  top: -23px;
}

.ratio {
  padding-top: 100%;
}

.hash-info-field {
  position: relative;

  span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;

    &:first-child {
      top: 0;
      text-transform: uppercase;
    }

    &:last-child {
      bottom: 0;
    }
  }
}

#top-card-hash-form {
  input::-webkit-input-placeholder {
    font-style: italic;
  }

  input:-moz-placeholder {
    font-style: italic;
  }

  input::-moz-placeholder {
    font-style: italic;
  }

  input:-ms-input-placeholder {
    font-style: italic;
  }

  input.green-sign::-webkit-input-placeholder {
    color: #00c72f;
  }

  input.green-sign:-moz-placeholder {
    color: #00c72f;
  }

  input.green-sign::-moz-placeholder {
    color: #00c72f;
  }

  input.green-sign:-ms-input-placeholder {
    color: #00c72f;
  }

  .col-lg-9 {
    padding-right: 0;
  }
}

.hash-submit-button.green-button {
  width: 100%;
  padding: 0;
}

.cards-shuffle-wrap {
  position: relative;
}

.left-card-deck,
.animated-deck-card {
  position: absolute;
}

.left-card-deck {
  background: url('/img/card-deck-left.png') no-repeat;
  @include background-size-contain();
}

.animated-deck-card {
  background: url('/img/card-face-down.jpg') no-repeat;
  @include background-size-contain();
  z-index: 2;
}

.ready-button-field {
  text-align: right;
}

.ready-card-deck img,
.two-cards-deck-wrap img,
.process-right-block img {
  width: 100%;
}

.process-deck-wrap {
  float: right;

  img {
    width: 100%;
  }
}

.process-button-field {
  text-align: right;
}

.process-page {
  position: relative;

  .player-container {
    position: relative;

    &.player-2 .hash-value-sign span .green-sign {
      width: 70%;
    }

    .col-lg-9.col-md-9 {
      padding: 0;
    }

    .green-button {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .hash-value-sign span {
      display: inline-block;
      vertical-align: top;

      .green-sign {
        display: block;
      }
    }

    .col-lg-9.col-md-9 .check-overflow {
      display: block;
      overflow: hidden;
      margin: 0 3%;
    }
  }

  .two-cards-deck-wrap {
    position: relative;

    .player-hash-value {
      position: absolute;
      top: 0;
      right: 0;
      overflow: hidden;
      word-break: break-all;
      -webkit-word-break: break-all;
      color: #000;
    }
  }

  .process-right-block,
  .process-left-block {
    float: left;
  }

  .process-left-block {
    width: 78%;
    padding-right: 5.2%;
  }

  .process-right-block {
    width: 21%;
    margin-top: 10px;
  }

  .absolute-position-button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.next .green-button {
  float: right;
}
