@media (max-width: 1500px) {
  .join-page {
    padding-top: 85px;

    .join-subtitle {
      margin: 40px 0 57px;
    }

    .green-button {
      margin-top: 80px;
      margin-bottom: 100px;
    }
  }

  .cards-box .card {
    height: 246px;
  }

  .green-button {
    padding: 23px 3%;
    font-size: 30px;
  }

  .steps-page {
    padding-top: 35px;
  }

  .step1-wrap p,
  .step3-wrap {
    margin: 22px 0 27px;
  }

  .step2-container {
    margin-bottom: 40px;
  }

  .step2-wrap {
    margin-top: 60px;
  }

  .setup-c-page {
    padding-top: 54px;
  }

  .game-conditions p {
    margin: 70px 15% 42px;
  }

  .setup-button-field {
    margin: 125px 0 50px;
  }

  .setup-b-page {
    padding-top: 50px;
  }

  .input-black-style {
    height: 94px;
    line-height: 94px;
  }

  .example-hash-block {
    margin: 40px 0;
  }

  .example-blocks {
    margin: 42px 0 202px;
  }

  input {
    font-size: 26px;
  }

  .big-plus {
    height: 94px;
    line-height: 94px;
    font-size: 88px;
  }

  .sign-block {
    line-height: 62px;
    font-size: 28px;
  }

  .try-sign {
    font-size: 36px;
  }

  .special-margin {
    margin: 20px 0;
  }

  .form-button-field {
    margin: 40px 0 10px;
  }

  .hash-item {
    margin-bottom: 50px;
  }

  .hash-item .green-button {
    height: 94px;
    line-height: 94px;
  }

  .step3-page {
    padding-top: 34px;
  }

  .shuffle-deck-block {
   // margin: 40px 0 390px;
  }

  .shuffle-deck-block .cards-wrap,
  .shuffle-card {
    width: 178px;
    height: 246px;
  }

  .shuffle-deck-block .cards-wrap {
    margin-right: 7%;
  }

  .hash-info-field span {
    line-height: 54px;
  }

  .hash-info-field span:last-child {
    font-size: 20px;
  }

  .hash-submit-button.green-button {
    height: 94px;
    line-height: 94px;
    font-size: 26px;
  }

  #top-card-hash-form {
    margin: 15px 0;
  }

  .shuffle-deck-field-wrap {
    margin-top: 69px;
  }

  .left-card-deck {
    top: 190px;
    left: 9%;
    width: 126px;
    height: 162px;
  }

  .animated-deck-card {
    top: -23px;
    left: 29%;
    width: 178px;
    height: 246px;
  }

  .ready-page {
    padding-top: 53px;
  }

  .ready-title {
    font-size: 44px;
  }

  .ready-to-play-wrap {
    margin-top: 102px;
  }

  .ready-card-deck {
    width: 21%;
    margin: 90px auto 0;
  }

  .ready-button-field {
    margin: 60px 0 50px;
  }

  .process-page {
    padding-top: 41px;

    &.add-bottom-space {
      margin-bottom: 80px;
    }

    .process-deck-wrap {
      width: 223px;
    }

    .player-title {
      margin-top: 37px;
      font-size: 35px;

      &.player-2 {
        margin-top: 152px;
      }

      &.changed-margin {
        margin-top: 20px;
      }
    }

    .win-result-big {
      font-size: 35px;
      line-height: 45px;
    }

    .win-text {
      font-size: 29px;
      line-height: 40px;

      p {
        margin-bottom: 40px;
      }
    }

    .process-button-field {
      margin: 200px 0 50px;
    }

    .two-cards-deck-wrap {
      width: 196px;
      margin-top: 10px;
      margin-left: -14px;

      &.player-2 {
        margin-bottom: 50px;
      }

      .player-hash-value {
        width: 156px;
        height: 250px;
        margin: 3px 12px 0;
        line-height: 30px;
      }
    }

    .player-container {

      &.player-2 {
        margin-bottom: 50px;
      }

      .hash-value-sign {
        margin-top: 38px;

        &.different-sign span {

          &.two-layers-sign {
            width: 93%;
          }

          &.sign-number {
            width: 5%;
          }
        }

        &:not(.different-sign) span {
          &.two-layers-sign {
            width: 86%;

            .green-sign {
              margin-top: 20px;
            }
          }

          &.sign-number {
            margin-right: 15px;
          }
        }

        span {
          font-size: 14px;
          line-height: 35px;

          &.two-layers-sign,
          .green-sign {
            line-height: 22px;
          }

          &.sign-number {
            font-size: 35px;
          }

          &.sign-big {
            font-size: 50px;
            line-height: 44px;
            margin-right: 10px;
          }
        }
      }

      .input-black-style.small {
        width: 583px;
        height: 68px;
        line-height: 68px;
        font-size: 15px;
        margin-top: 15px;
        margin-left: -8px;

        &.different-input {
          width: 100%;
        }
      }

      .process-right-block img {
        max-width: 170px;
      }
    }

    .win-sign {
      font-size: 48px;
    }
  }
}

@media (min-width: 1501px) {
  .join-page {
    padding-top: 143px;

    .join-subtitle {
      margin: 72px 0 80px;
    }

    .green-button {
      margin-top: 120px;
      margin-bottom: 150px;
    }
  }

  .cards-box .card {
    height: 372px;
  }

  .green-button {
    padding: 35px 3%;
    border-width: 2px;
    font-size: 44px;
  }

  .steps-page {
    padding-top: 60px;
  }

  .step1-wrap p,
  .step3-wrap p {
    margin: 30px 0 44px;
  }

  .step2-container {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .step2-wrap {
    margin-top: 90px;
  }

  .setup-c-page {
    padding-top: 78px;
  }

  .game-conditions p {
    margin: 108px 15% 66px;
  }

  .setup-button-field {
    margin: 188px 0 80px;
  }

  .setup-b-page {
    padding-top: 78px;
  }

  .input-black-style {
    height: 145px;
    line-height: 145px;
    border-width: 2px;
  }

  .example-hash-block {
    margin: 65px 0;
  }

  .example-blocks {
    margin: 72px 0 302px;
  }

  input {
    font-size: 38px;
  }

  .big-plus {
    height: 145px;
    line-height: 145px;
    font-size: 132px;
  }

  .sign-block {
    line-height: 100px;
    font-size: 39px;
  }

  .try-sign {
    font-size: 52px;
  }

  .special-margin {
    margin: 26px 0;
  }

  .form-button-field {
    margin: 62px 0 20px;
  }

  .hash-item {
    margin-bottom: 80px;
  }

  .hash-item .green-button {
    height: 145px;
    line-height: 145px;
  }

  .step3-page {
    padding-top: 68px;
  }

  .shuffle-deck-block {
  //  margin: 67px 0 510px;
  }

  .shuffle-deck-block .cards-wrap,
  .shuffle-card {
    width: 264px;
    height: 365px;
  }

  .shuffle-deck-block .cards-wrap {
    margin-right: 7%;
  }

  .hash-info-field span {
    line-height: 85px;
  }

  .hash-info-field span:last-child {
    font-size: 24px;
  }

  .hash-submit-button.green-button {
    height: 145px;
    line-height: 145px;
    font-size: 40px;
  }

  #top-card-hash-form {
    margin: 20px 0;

    .input-black-style {
      font-size: 32px;

      &.green-sign {
        font-size: 28px;
      }
    }
  }

  .shuffle-deck-field-wrap {
    margin-top: 105px;
  }

  .left-card-deck {
    top: 293px;
    left: -5%;
    width: 189px;
    height: 246px;
  }

  .animated-deck-card {
    top: -30px;
    left: 15%;
    width: 264px;
    height: 365px;
  }

  .ready-page {
    padding-top: 81px;
  }

  .ready-title {
    font-size: 67px;
  }

  .ready-to-play-wrap {
    margin-top: 150px;
  }

  .ready-card-deck {
    width: 330px;
    margin: 136px auto 0;
  }

  .ready-button-field {
    margin: 98px 0 78px;
  }

  .process-page {
    padding-top: 62px;

    &.add-bottom-space {
      margin-bottom: 80px;
    }

    .process-deck-wrap {
      width: 330px;
    }

    .player-title {
      margin-top: 53px;
      font-size: 56px;

      &.player-2 {
        margin-top: 235px;
      }

      &.changed-margin {
        margin-top: 35px;
      }
    }

    .win-result-big {
      font-size: 56px;
      line-height: 70px;
    }

    .win-text {
      font-size: 43px;
      line-height: 53px;

      p {
        margin-bottom: 50px;
      }
    }

    .process-button-field {
      margin: 275px 0 70px;
    }

    .two-cards-deck-wrap {
      width: 288px;
      margin-top: 15px;
      margin-left: -18px;

      &:not(.different-style) .player-hash-value {
        line-height: 39px;
        font-size: 36px;
        letter-spacing: 2px;
      }

      &.different-style {
        width: 80%;
        max-width: 290px;
      }

      &.player-2 {
        margin-bottom: 80px;

        &.different-style {
          width: 18.8%;
        }
      }

      .player-hash-value {
        width: 80%;
        height: 93%;
        margin: 2% 6% 0;
        line-height: 34px;
        font-size: 28px;
      }
    }

    .process-right-block img {
      max-width: 267px;
    }

    .player-container {

      .hash-value-sign {
        margin-top: 55px;

        &:not(.different-sign) span {
          &.two-layers-sign {
            width: 86%;
          }

          &.sign-number {
            margin-right: 15px;
          }
        }

        &.different-sign span {

          &.two-layers-sign {
            width: 93%;
          }

          &.sign-number {
            width: 5%;
          }
        }

        span {
          font-size: 24px;
          line-height: 56px;

          &.two-layers-sign,
          .green-sign {
            line-height: 36px;
          }

          .green-sign {
            margin-top: 40px;
          }

          &.sign-number {
            font-size: 56px;
          }

          &.sign-big {
            font-size: 82px;
            line-height: 75px;
            margin-right: 2%;
          }
        }
      }

      .input-black-style.small {
        width: 874px;
        height: 102px;
        line-height: 102px;
        font-size: 23px;
        margin-top: 20px;
        margin-left: -12px;

        &.different-input {
          width: 100%;
        }
      }

      &.player-2 {
        margin-bottom: 80px;
      }
    }

    .win-sign {
      font-size: 70px;
    }
  }
}

@media (min-width: 1600px) {
  .process-page .two-cards-deck-wrap .player-hash-value {
    line-height: 36px;
    font-size: 30px;
  }
}

@media (min-width: 1720px) {
  #top-card-hash-form .input-black-style {
    font-size: 37px;

    &.green-sign {
      font-size: 32px;
    }
  }

  .hash-info-field span:last-child {
    font-size: 28px;
  }

  .process-page .two-cards-deck-wrap .player-hash-value {
    line-height: 38px;
    font-size: 36px;
    letter-spacing: 2px;
  }
}
