@media (max-width: 1500px) {
  body {
    font-size: 26px;
  }

  h2 {
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 1px;
  }

  h3 {
    font-size: 36px;
  }

  header {
    padding: 20px 0 25px;

    .title-text {
      height: 107px;
      line-height: 100px;
      font-size: 52px;
    }
  }
}

@media (min-width: 1501px) {
  body {
    font-size: 38px;
  }

  h2 {
    font-size: 55px;
    line-height: 65px;
    letter-spacing: 1px;
  }

  h3 {
    font-size: 55px;
  }

  header {
    padding: 30px 0 37px;

    .header-container .title-text {
      height: 160px;
      line-height: 140px;
      font-size: 80px;
      border-bottom-width: 2px;
    }
  }
}
